<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("HeadAdditions",false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
